<style media="screen">
  label {
    display: inline-block;
    width: 200px;
  }
</style>
<%- include header %>
<form action="" method="post">
  <label for="">用户名：</label>  <input type="text" name="name"/><br />
  <label for="">密码：</label>    <input type="password" name="password"/><br />
  <label for="">确认密码：</label> <input type="password" name="password-repeat"/><br />
  <label for="">邮箱：</label>    <input type="email" name="email"/><br />
           <input type="submit" value="注册"/>
</form>
<%- include footer %>
